
@{
    ViewBag.Title = "Bookmarks";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}



<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Profile</a>
            </li>
            <li class="breadcrumb-item active">Bookmarks</li>
        </ol>

   
    </div>
    <!-- /.container-fluid-->
</div>
<!-- /.container-wrapper-->