@model Web.ViewModel.ChangePasswordViewModel 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}



<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Profile</a>
            </li>
            <li class="breadcrumb-item active">Change Password</li>
        </ol>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="row">
                <div class="col-8">
                    <div class="alert alert-success alert-dismissible fade show " role="alert">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
        {
            <!-- /box_general-->
            <div class="row">
                <div class="col-lg-8">
                    <div class="box_general padding_bottom">
                        <div class="header_box version_2">
                            <h2><i class="fa fa-lock"></i>Change password</h2>
                        </div>
                        <div class="form-group">
                            <label>Old password</label>
                            @Html.PasswordFor(s => s.Password, new { @class = "form-control col-lg-6" })
                        </div>
                        <div class="form-group">
                            <label>New password</label>
                            @Html.PasswordFor(s => s.NewPassword, new { @class = "form-control  col-lg-6" })
                        </div>
                        <div class="form-group">
                            <label>Confirm new password</label>
                            @Html.PasswordFor(s => s.ConfirmPassword, new { @class = "form-control  col-lg-6" })
                        </div>
                        <p><button href="#0" class="btn_1 medium">Save</button></p>
                    </div>
                </div>

            </div>
            <!-- /row-->
       
        }

    </div>
    <!-- /.container-fluid-->
</div>
<!-- /.container-wrapper-->