@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@model Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}




<div id="login">
    <aside>
        <figure>
            <a href="/Home/"><img src="~/Content/img/logo.png" width="155" data-retina="true" alt="" class="logo_sticky"></a>
        </figure>

        @if (!string.IsNullOrEmpty(Model?.Message))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                @Model.Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Please check your email to reset your password.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="copy">© 2021 Travel Oriental Mindoro</div>
    </aside>



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


