<footer>
    <div class="container margin_60_35">
        <div class="row">

            <div class="col-lg-5 col-md-12 ">
                <div class="row">
                    <div class="col-12 pb-2 footer-logo">
                        <img src="~/Content/img/logos/pgom.png" height="100" class="m-2 " alt="">
                        <img src="~/Content/img/logos/dot.png" height="100" class="m-2 ">
                        <img src="~/Content/img/logos/tpb.png" height="100" class="m-2">
                    </div>

                </div>




                <p class="text-justify">The Province of Oriental Mindoro in the eastern half of the Mindoro Island is Southern Tagalog's primary food basket and tourism destination. Awaiting the brave and adventurous is a network of towering mountains, labyrinthine caves, unspoiled waterways and captivating shores. Oriental Mindoro is situated 140 kilometers south of Manila and the Philippines' 7th largest island. With its largely unspoiled natural beauty, the province has much to offer in terms of tourism and investment.</p>
                <div class="follow_us">
                    <ul>
                        <li>Follow us</li>
                        <li><a href="https://www.facebook.com/travelorientalmindoro/"  ><i class="ti-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/travelorientalmindoro/"  ><i class="ti-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/row-->
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <ul id="additional_links">
                    <li><span>© 2021 Provincial Government of Oriental Mindoro</span></li>
                    <li><a href="https://www.itdcsystems.com/"  >ITDC SYSTEMS DEVELOPMENT SERVICES</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>
    function FooterNavigate(url, app) {
        if (url !== undefined && url !== "") {
            invokeCSCode('type:isExternalLink|value:' + url + '|function:openApp|app:' + app);
        }
    }
</script>
