@model Web.ViewModel.PlaceDetailViewModel
@using Project.Models.Models;

@using Web.Utilities;

@{
    ViewBag.Title = "GovernorsMessageWidget";

}

<div class="banner mb-0">
    <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="text-white">GOVERNOR'S MESSAGE</h5>
                <h4 class="text-white">Welcome to Oriental Mindoro!</h4>
                <p class="text-justify">Take a peek into everything our province has to offer. Discover our province – the land of the indigenous Mangyans, the majestic Mt. Halcon, the endemic Tamaraw and the vast Naujan Lake. MAHAL TANA sa Oriental Mindoro!</p>
                <a href="/Page/GovernorsMessage" class="btn_1 rounded">Read more</a>
            </div>
        </div>
    </div>
    <!-- /wrapper -->
</div>
<!-- /banner -->