

@model Web.ViewModel.PlaceHomeViewModel
@using Project.Models.Models;
@using Web.Utilities;

@{
    ViewBag.Title = "Recreations";
}
@if (Model.Places != null && Model.Places.Count() > 0)
{
    <section class="add_bottom_45">
        <div class="main_title_3">

            <h2>Popular Recreations</h2>
            <p>Escape to a Tropical Paradise.</p>
        </div>
        <div class="row">

            @foreach (PlaceDto t in Model.Places)
            {
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="box_grid">
                        <a href="/Places/Details/@t.Id" class="grid_item">
                            <figure class="home-widget" style="background-image: url(@(Model.CDNHOST + (t.HomeThumbnail.Replace(".jpg", "_thumb.jpg"))));">
                                <div class="score"><strong>#@(t.ParentName.ToString().ToUpper())</strong></div>
                                @*<img src="@(Model.CDNHOST + (t.HomeThumbnail.Replace(".jpg", "_thumb.jpg")))" class="img-fluid" alt="" loading="lazy">*@
                                <div class="info">
                                    @if (!String.IsNullOrEmpty(t.Description))
                                    {
                                        <span>@t.Description.TruncateLongString(80)</span>
                                    }
                                    <h3 class="text-white">@t.Title</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- /grid_item -->
            }

        </div>
        <!-- /row -->
        <p class="btn_home_align">
            <a href="/Places/Recreations/@Model.ParentId" class="btn_1 rounded "><strong>View all<i class="arrow_carrot-right"></i></strong></a>
        </p>

    </section>
    <!-- /section -->
}